.padding-header{
    padding-bottom: 70px;
}

.row-about{
    background-color: #feeff8;
    display: flex;
    justify-content: center;
    border-radius: 3.125rem !important;
    align-items: center;
}


.space{
    padding-bottom: 50px;
}

img{
    max-width: 100%;
    height: auto;
}

  body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: white;
    box-shadow: 0 25px 45px rgba(79, 86, 101, 0.075);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9999;
}



.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
    position: relative; /* Tambahkan ini agar elemen posisi absolute bisa bekerja */
    padding-top: 20px;
    padding-bottom: 20px;
}

.logo img {
    max-width: 40px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

nav ul li {
    margin: 0;
}

.call {
    background-color: rgb(156, 105, 226);
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 10px;
    display: inline-block;
    z-index: 10; /* Tambahkan z-index untuk memastikan tetap di atas konten */
}

.menu-toggle {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.menu-toggle span {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
    transition: 0.4s;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: default;
}

.carousel-control-prev-icon, .carousel-control-next-icon{
    cursor: pointer;
}

.carousel-control-prev-icon:hover{
    background-color: blue;
}


.carousel-control-next-icon:hover{
    background-color: blue;

}

.carousel-control-next, .carousel-control-prev{
    opacity: 1;
}

nav ul li.active{
    color: #5F37EF;
}

nav ul li{
    cursor: pointer;
}

nav ul li:hover{
    color: #5F37EF;
}

nav {
    flex: 1;
    display: flex;
    justify-content: center;
}

nav ul {
    flex-direction: row;
    gap: 80px;
}

.call {
    position: absolute; /* Menambahkan absolute positioning */
    right: 0; /* Menempatkan di paling kanan */
    top: 50%; /* Vertikal di tengah */
    transform: translateY(-50%); /* Untuk menyesuaikan tengah vertikal */
}


.call:hover{
    opacity: 0.9;
}

.img-about{
    width: 50%;
    text-align: center;
}

.text-about{
    width: 50%;
    padding-right: 4rem;
    padding-left: 4rem;
}

.features {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px; /* Menambahkan jarak antar card */
    padding-top: 20px;
}

.card-features1, .card-features2, .card-features3, .card-features4 {
    width: 45%; /* Lebar yang sedikit lebih kecil agar lebih pas saat ada jarak */
    flex: 0 0 auto;
    background-color: #c7ebe7;
    border-radius: 30px 80px 30px 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 30px;
    gap: 10px;
}


.padding{
    padding-bottom: 30px;
}




.padding-top{
    padding-top: 20px;
}

.carousel2{
    background-color: #feeff8;
    max-width: 1000px;
    margin: 0 auto;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
    border-radius: 20px;
}

.testimonial-rating {
    color: #ffcc00; /* Warna bintang */
}



footer{
    background-color: rgb(160 138 189);
    background-image: none;
    color: white;
}

.top-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info{
    flex-grow: 1;
}

.container-footer{
    max-width: 1280px;
    margin: 0 auto;
}


.top-section-utama{
    border-bottom: 1px solid white;
    padding: 26px 0 18px;
}

.list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
}

.footer-menu{
    margin-right: 24px;
    padding-right: 24px;
    font-size: 14px;
    line-height: 1.7;
}

.bottom-section-utama{
    padding: 26px 0 18px;
}

.bottom-section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.list2{
    list-style-type: none;
    margin: 0;
    padding: 0;
}



.logo{
    display: flex;
    align-items: center;
    gap: 20px;
}

.list2 li{
    line-height: 1.6;
    font-size: 12px;
}

.icon{
    display: flex;
    gap: 20px;
}


.icon i{
    font-size: 32px;
}

.icon a{
    color: white;
}


.list2 a{
        text-decoration: none;
        color: white;
    }

/* Responsive styles */
@media (max-width: 768px) {
    .menu-toggle {
        display: flex;
    }

    nav {
        display: none;
        flex-direction: column;
        gap: 10px;
        text-align: left;
        background-color: white;
        position: fixed;
        top: 70px;
        left: 0;
        width: 100%;
        padding: 0 20px;
        height: 260px;
        transition: .5s ease;
        opacity: 0;
    }

    nav.active {
        display: flex;
        opacity: 1; /* Saat ada class "show", opacity jadi 1 (terlihat) */
    }

    nav ul {
        flex-direction: column;
        gap: 20px;
    }

    .call {
        margin-top: 20px;
        text-align: center;
        display: block;
        position: static;
    }

    header{
        box-shadow: none;
    }

    .carousel-control-next, .carousel-control-prev{
        top: -50px;
    }

    .row-about{
        display: grid;
    }

    .img-about, .text-about{
        width: 100%;
        text-align: center;
    }

    .text-about{
        padding-right: 12px;
        padding-left: 12px;
        padding-bottom: 30px;
    }

    .features{
        display: grid;
    }


.card-features1, .card-features2, .card-features3, .card-features4 {
        width: 100%;
        display: grid;
        justify-content: center;
        text-align: center;
        justify-items: center;
}

.img-about{
    display: flex;
    justify-items: center;
}
.padding{
    padding-bottom: 30px;
}

}


@media (max-width: 768px) {
    .copy-right span {
        display: none; /* Hide the span on small screens */
    }

    .copy{
        display: inline;
    }

    .icon, .icon a{
        display: none;
    }
}

/* Media query for desktop devices */
@media (min-width: 769px) {
    .copy-right span {
        display: inline; /* Show the span on larger screens */
    }

    .copy{
        display: none;
    }

    .icon-hp{
        display: none;
    }


}

@media(max-width: 768px){
    .top-section{
        padding: 12px;
    }

    .bottom-section{
        display: grid;
        padding: 12px;
    }

    .logo{
        display: grid;
    }

    .icon-hp-utama{
        padding: 12px;
        border-bottom: 1px solid white;
    }

    .icon-hp{
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: row;
        gap: 20px;
    }


    .icon-hp a{
        color: white;
        text-decoration: none;
        font-size: 32px;
        gap: 20px;
    }


}


